Repository Roman-Supernova-PIT/snappl, changes with the labels that .github/labeler.yml gives for each.
All labels: name, installation, automation, testing

.github/labeler.yml:

name: "Pull Request Labeler"

on:
  pull_request_target:
    types:
      - opened
      - synchronize


# needs pull_request_target to label forks
jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9  # v5.0.0
        if: github.event_name == 'pull_request_target' || github.event_name == 'pull_request'
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst', '!licenses/LICENSE.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'CITATION.cff'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/*ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

Wrote base image, logger, wcs classes for OpenUniverse 2024 fits files.
  .gitignore
  snappl/image.py
  snappl/logger.py
  snappl/wcs.py
Labels: none

readme
  README.rst
Labels: none

Rename OpenUniverse2024Image → OpenUniverse2024FITSImage
  snappl/image.py
Labels: none

Working on config system
  pyproject.toml
  snappl/__init__.py
  snappl/config.py
  snappl/example_c.pyx
  snappl/example_mod.py
  snappl/example_subpkg/__init__.py
  snappl/example_subpkg/data/.gitignore
  snappl/example_subpkg/tests/__init__.py
  snappl/logger.py
  snappl/tests/conftest.py
  snappl/tests/test.yaml
  snappl/tests/test_config.py
  snappl/tests/test_example.py
  snappl/tests/testaugment1.yaml
  snappl/tests/testaugment2.yaml
  snappl/tests/testdestrapp1.yaml
  snappl/tests/testdestrapp2.yaml
  snappl/tests/testoverride1.yaml
  snappl/tests/testoverride2.yaml
  snappl/tests/testpreload1.yaml
  snappl/tests/testpreload2.yaml
  snappl/tests/testreplpreload1.yaml
  snappl/tests/testreplpreload2.yaml
Labels: installation, testing

Config system seems to be working.
  snappl/config.py
  snappl/tests/config_test_data/test.yaml
  snappl/tests/config_test_data/testaugment1.yaml
  snappl/tests/config_test_data/testaugment2.yaml
  snappl/tests/config_test_data/testdestrapp1.yaml
  snappl/tests/config_test_data/testdestrapp2.yaml
  snappl/tests/config_test_data/testfail1.yaml
  snappl/tests/config_test_data/testfail1preload.yaml
  snappl/tests/config_test_data/testfail2.yaml
  snappl/tests/config_test_data/testfail3.yaml
  snappl/tests/config_test_data/testfail4.yaml
  snappl/tests/config_test_data/testfailappend3.yaml
  snappl/tests/config_test_data/testfailappend4.yaml
  snappl/tests/config_test_data/testfailpreload1.yaml
  snappl/tests/config_test_data/testfailpreload2.yaml
  snappl/tests/config_test_data/testoverride1.yaml
  snappl/tests/config_test_data/testoverride2.yaml
  snappl/tests/config_test_data/testpreload1.yaml
  snappl/tests/config_test_data/testpreload2.yaml
  snappl/tests/config_test_data/testreplpreload1.yaml
  snappl/tests/config_test_data/testreplpreload2.yaml
  snappl/tests/test_config.py
Labels: testing

Add a config example
  examples/config_example.py
  examples/config_example.yaml
  snappl/tests/test_config.py
Labels: testing

replace order of Integral vs. Real parsing in config command line so it doesn't turn integers into floats
  snappl/config.py
Labels: none

doc fix
  snappl/config.py
Labels: none

doc fix
  snappl/config.py
Labels: none

Add Rob's config system !
  examples/config_example.py
  examples/config_example.yaml
  pyproject.toml
  snappl/__init__.py
  snappl/config.py
  snappl/example_c.pyx
  snappl/example_mod.py
  snappl/example_subpkg/__init__.py
  snappl/example_subpkg/data/.gitignore
  snappl/example_subpkg/tests/__init__.py
  snappl/image.py
  snappl/logger.py
  snappl/tests/config_test_data/test.yaml
  snappl/tests/config_test_data/testaugment1.yaml
  snappl/tests/config_test_data/testaugment2.yaml
  snappl/tests/config_test_data/testdestrapp1.yaml
  snappl/tests/config_test_data/testdestrapp2.yaml
  snappl/tests/config_test_data/testfail1.yaml
  snappl/tests/config_test_data/testfail1preload.yaml
  snappl/tests/config_test_data/testfail2.yaml
  snappl/tests/config_test_data/testfail3.yaml
  snappl/tests/config_test_data/testfail4.yaml
  snappl/tests/config_test_data/testfailappend3.yaml
  snappl/tests/config_test_data/testfailappend4.yaml
  snappl/tests/config_test_data/testfailpreload1.yaml
  snappl/tests/config_test_data/testfailpreload2.yaml
  snappl/tests/config_test_data/testoverride1.yaml
  snappl/tests/config_test_data/testoverride2.yaml
  snappl/tests/config_test_data/testpreload1.yaml
  snappl/tests/config_test_data/testpreload2.yaml
  snappl/tests/config_test_data/testreplpreload1.yaml
  snappl/tests/config_test_data/testreplpreload2.yaml
  snappl/tests/conftest.py
  snappl/tests/test_config.py
  snappl/tests/test_example.py
Labels: installation, testing

Minor syntax issues
  snappl/image.py
Labels: none

Minor syntax issues (#2)
  snappl/image.py
Labels: none

Uncomment pyproject.toml, some edits. Going to try to make this work.
  README.rst
  pyproject.toml
Labels: installation

added a newsfragment, let's see if this helps the automated tests
  newsfragments/4.misc
Labels: none

put newsfragments in the wrong place
  snappl/newsfragments/4.misc
Labels: none

Trying again to see if I can figure out where the towncrier news fragments are supposed to go
  changes/4.misc
Labels: none

Fix a typo in pyproject.tom, try again adding news fragment.
  changes/4.misc
  changes/4.snappl.rst
  pyproject.toml
Labels: installation

manual version
  pyproject.toml
Labels: installation

fighting
  pyproject.toml
Labels: installation

Trying to put version back in snappl/__init__.py
  snappl/__init__.py
Labels: none

Trying to get __init__.py right
  snappl/__init__.py
Labels: none

fighting
  pyproject.toml
  snappl/__init__.py
Labels: installation

Refreshing the package template
  .cruft.json
  .github/CODEOWNERS
  .github/dependabot.yml
  .gitignore
  CHANGES.rst
  README.rst
  docs/index.rst
  docs/installation.rst
  pyproject.toml
  setup.py
  snappl/__init__.py
  snappl/tests/conftest.py
Labels: installation, automation, testing

re-remove typo, add astropy to pyproject.toml
  pyproject.toml
Labels: installation

Revert CHANGES.rst to what was in main
  CHANGES.rst
Labels: none

Trying to figure out why dyanmic verisoning isn't working.
  .github/workflows/changelog.yml
Labels: automation

...maybe the changes files need to be named after PR, not Issue?
  changes/3.snappl.rst
Labels: none

Add docker compose file for tests and github workflow that will (hopefuly) run them
  .github/workflows/run_snappl_tests.yml
  .gitignore
  snappl/tests/docker-compose.yaml
Labels: automation, testing

Fix indentation in run_snappl_tests.yml
  .github/workflows/run_snappl_tests.yml
Labels: automation

testing
  .github/workflows/changelog.yml
  snappl/_version.py
  snappl/tests/docker-compose.yaml
Labels: automation, testing

remove a file I added for testing purposes
  snappl/_version.py
Labels: none

typo
  snappl/tests/docker-compose.yaml
Labels: testing

oh, pytest. You subvert __file__
  snappl/tests/docker-compose.yaml
Labels: testing

still struggling
  .github/workflows/changelog.yml
  snappl/tests/docker-compose.yaml
Labels: automation, testing

still struggling
  .github/workflows/changelog.yml
Labels: automation

still trying things
  .github/workflows/changelog.yml
Labels: automation

remove spurious space
  .github/workflows/changelog.yml
Labels: automation

trying yet another thing
  .github/workflows/changelog.yml
Labels: automation

beating my head against the wall
  .github/workflows/changelog.yml
Labels: automation

arrrrrgh
  .github/workflows/changelog.yml
Labels: automation
