Repository Roman-Supernova-PIT/snappl, changes with the labels that .github/labeler.yml gives for each.
All labels: name, installation, automation, testing

.github/labeler.yml:

name: "Pull Request Labeler"

on:
  pull_request_target:
    types:
      - opened
      - synchronize


# needs pull_request_target to label forks
jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9  # v5.0.0
        if: github.event_name == 'pull_request_target' || github.event_name == 'pull_request'
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst', '!licenses/LICENSE.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'CITATION.cff'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/*ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

still trying
  .github/workflows/changelog.yml
Labels: automation

Debugging github actions leads to MANY stupid commits
  .github/workflows/changelog.yml
Labels: automation

adding a file I intend to remove for testing purposes
  snappl/_version.py
Labels: none

removing the file I intended to remove
  snappl/_version.py
Labels: none

Re-enable pyproject.toml & associated, add tests (#3)
  .cruft.json
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/changelog.yml
  .github/workflows/run_snappl_tests.yml
  README.rst
  changes/3.snappl.rst
  docs/index.rst
  docs/installation.rst
  pyproject.toml
  setup.py
  snappl/__init__.py
  snappl/tests/conftest.py
  snappl/tests/docker-compose.yaml
Labels: installation, automation, testing

Added cutout and some other functionalities
  snappl/image.py
Labels: none

Addressed Rob comments
  snappl/image.py
Labels: none

made header private
  snappl/image.py
Labels: none

Documentation on the config system
  docs/config.rst
  docs/index.rst
  docs/installation.rst
  docs/usage.rst
Labels: none

small edit
  docs/config.rst
Labels: none

small edit
  docs/config.rst
Labels: none

More doc updates; type checking on lists overridden on the command line.
  docs/conf.py
  docs/config.rst
  snappl/__init__.py
  snappl/config.py
  snappl/tests/config_test_data/test.yaml
  snappl/tests/conftest.py
  snappl/tests/test_config.py
Labels: testing

add changelog
  changes/6.snappl.rst
Labels: none

get_cutout test half done
  snappl/tests/image_test_data/test_cutout.npy
  snappl/tests/test_opensim2024fitsimage.py
Labels: testing

finalized cutout test
  changes/5.snappl.rst
  snappl/tests/test_opensim2024fitsimage.py
Labels: testing

fixed get image shape
  snappl/image.py
Labels: none

Split get_cutout into ra/dec and pixel functions. Use pytest.raise in tests.streamlined get header code.
  snappl/image.py
  snappl/tests/test_opensim2024fitsimage.py
Labels: testing

Cutouts (#5)
  changes/5.snappl.rst
  snappl/image.py
  snappl/tests/image_test_data/test_cutout.npy
  snappl/tests/test_opensim2024fitsimage.py
Labels: testing

cutout now requires wcs as input
  snappl/image.py
Labels: none

comments addressed
  changes/8.snappl.rst
  snappl/image.py
Labels: none

Fixing cutout wcs bug (#8)
  changes/8.snappl.rst
  snappl/image.py
Labels: none

Added the ability to overwrite the image data from outside of the Image object
  snappl/image.py
Labels: none

added a test to test the data setter
  snappl/image.py
  snappl/tests/test_opensim2024fitsimage.py
Labels: testing

changelog;
  changes/9.snappl.rst
Labels: none

First imlementation of psf with epsf and lauren's epsfs
  snappl/psf.py
  snappl/tests/docker-compose.yaml
  snappl/tests/psf_test_data/testpsfarray.npz
  snappl/tests/test_brandXePSF.py
  snappl/tests/test_ePSF.py
Labels: testing

Remove lager and config, they're now in snpit_utils
  snappl/config.py
  snappl/image.py
  snappl/logger.py
  snappl/tests/config_test_data/test.yaml
  snappl/tests/config_test_data/testaugment1.yaml
  snappl/tests/config_test_data/testaugment2.yaml
  snappl/tests/config_test_data/testdestrapp1.yaml
  snappl/tests/config_test_data/testdestrapp2.yaml
  snappl/tests/config_test_data/testfail1.yaml
  snappl/tests/config_test_data/testfail1preload.yaml
  snappl/tests/config_test_data/testfail2.yaml
  snappl/tests/config_test_data/testfail3.yaml
  snappl/tests/config_test_data/testfail4.yaml
  snappl/tests/config_test_data/testfailappend3.yaml
  snappl/tests/config_test_data/testfailappend4.yaml
  snappl/tests/config_test_data/testfailpreload1.yaml
  snappl/tests/config_test_data/testfailpreload2.yaml
  snappl/tests/config_test_data/testoverride1.yaml
  snappl/tests/config_test_data/testoverride2.yaml
  snappl/tests/config_test_data/testpreload1.yaml
  snappl/tests/config_test_data/testpreload2.yaml
  snappl/tests/config_test_data/testreplpreload1.yaml
  snappl/tests/config_test_data/testreplpreload2.yaml
  snappl/tests/test_config.py
Labels: testing

SC and SN are not the same sequence of characters
  snappl/image.py
Labels: none

changelog
  changes/10.snappl.rst
Labels: none

actually put useful info in changelog
  changes/10.snappl.rst
Labels: none

Remove Lager and Config (#10)
  changes/10.snappl.rst
  snappl/config.py
  snappl/image.py
  snappl/logger.py
  snappl/tests/config_test_data/test.yaml
  snappl/tests/config_test_data/testaugment1.yaml
  snappl/tests/config_test_data/testaugment2.yaml
  snappl/tests/config_test_data/testdestrapp1.yaml
  snappl/tests/config_test_data/testdestrapp2.yaml
  snappl/tests/config_test_data/testfail1.yaml
  snappl/tests/config_test_data/testfail1preload.yaml
  snappl/tests/config_test_data/testfail2.yaml
  snappl/tests/config_test_data/testfail3.yaml
  snappl/tests/config_test_data/testfail4.yaml
  snappl/tests/config_test_data/testfailappend3.yaml
  snappl/tests/config_test_data/testfailappend4.yaml
  snappl/tests/config_test_data/testfailpreload1.yaml
  snappl/tests/config_test_data/testfailpreload2.yaml
  snappl/tests/config_test_data/testoverride1.yaml
  snappl/tests/config_test_data/testoverride2.yaml
  snappl/tests/config_test_data/testpreload1.yaml
  snappl/tests/config_test_data/testpreload2.yaml
  snappl/tests/config_test_data/testreplpreload1.yaml
  snappl/tests/config_test_data/testreplpreload2.yaml
  snappl/tests/test_config.py
Labels: testing

changelog
  changes/11.snappl.rst
Labels: none

Oops, github can't read nersc image registry, fix docker compose
  snappl/tests/docker-compose.yaml
Labels: testing

Better class names
  snappl/tests/test_brandXePSF.py
  snappl/tests/test_ePSF.py
  snappl/tests/test_oversampled_image_psf.py
  snappl/tests/test_yaml_serialized_oversampled_image_psf.py
Labels: testing

Add file forgotten in last commit
  snappl/psf.py
Labels: none

Add PSF and ePSF abstract classes, implement (with bad name) what Lauren needs (#11)
  changes/11.snappl.rst
  snappl/psf.py
  snappl/tests/docker-compose.yaml
  snappl/tests/psf_test_data/testpsfarray.npz
  snappl/tests/test_oversampled_image_psf.py
  snappl/tests/test_yaml_serialized_oversampled_image_psf.py
Labels: testing

Fighting with package names
  pyproject.toml
Labels: installation
